@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Medium.woff2') format('woff2'),
        url('../fonts/Metropolis-Medium.woff') format('woff'),
        url('../fonts/Metropolis-Medium.ttf') format('truetype'),
        url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Light.eot');
    src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Metropolis-Light.woff2') format('woff2'),
        url('../fonts/Metropolis-Light.woff') format('woff'),
        url('../fonts/Metropolis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 7px;
}
div, p, a, img, form, button{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1.5625rem 0 0.75rem;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.container{
    max-width: 1170px;
    margin: auto;
    width: 100%;
}
header .logo{
    display: inline-block;
    max-width: 351px;
    float: left;
}
header .logo img{
    width: 100%;
}

header form{
    background-color: #ebebeb;
    width: 208px;
    height: 42px;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    margin-top: 9px;
    float: right;
}
header form input{
    width: 70%;
    border: none;
    background: transparent;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
    color: #959595;
    font-size: 15px;
    padding-left: 16px;
    box-sizing: border-box;
    font-family: 'Metropolis';
    outline: none;

}
header form button{
    display: inline-block;
    width: 27%;
    height: 42px;
    border: none;
    background-color: transparent;
    vertical-align: top;
    outline: none;
}

header .btn{
    min-width: 169px;
    line-height: 42px;
    border-radius: 3px;
    background-color: #252525;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 24px;
    float: right;
    margin-top: 9px;
    font-family: 'Metropolis';
    font-size: 15px;
}
header .btn.grey{
    background-color: #464646;
}
header .btn.red{
    background-color: #fa090a;
}
header .btn:before{

}

header .btn.grey:before{

}
header .btn i{
    font-size: 18px;
    margin-right: 7px;
    color: #fff;
}
.container:after, header nav ul:after{
    content: "";
    display: block;
    clear: both;
}
.border{
    border-bottom: solid 1px #464646;
    padding-bottom: 21px;
    margin-bottom: 21px;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
    padding-right: 30px;
}
header nav ul li a{
    color: #fff;
    font-size: 1.5625rem;
    font-family: 'Bebas Neue', cursive;
}
nav{
    display: inline-block;
}
a.soc_icon {
    background: #fa090a;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 15px;
    text-align: center;
}
a.soc_icon i{
    font-size: 1.5625rem;
    color: #160506;
    vertical-align: -webkit-baseline-middle;
}
header nav ul li a:hover{
    border-bottom: 4px solid #ff0000;
}
.bg_img{
    position: relative;

}
.bg_img img {
     width: 100%;
    display: block;
}
.bg_img h1{
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 50px;
    font-family: 'Bebas Neue';
    width: 100%;
    position: absolute;
    bottom: 21px;
}
.bg_img h1:after{
    content: "";
    width: 100%;
    max-width: 1170px;
    height: 3px;
    display: block;
    background-color: #ff0000;
    margin: auto;
    margin-top: 34px;
}
.subscribe{
    background: #010006;
    padding-top: 77px;
    padding-bottom: 53px;
    border: 1px solid #464647;
}
.subscribe p{
    font-family: 'Metropolis';
    font-size: 1.1875rem;
    text-transform: uppercase;
    color: #fff;
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 300;
}
.subscribe_form form{
    display: flex;
    justify-content: center;
}
.subscribe_form input{
    width: 100%;
    max-width: 390px;
    line-height: 42px;
    border-radius: 4px;
    border: none;
    padding-left: 42px;
    margin-right: 33px;
    font-family: 'Myriad Pro';
}
.subscribe button{
    width: 100%;
    max-width: 310px;
    line-height: 42px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 4px;
    border: none;
    font-family: 'Metropolis';
}
.footer{
    background: #252525;
    padding-top: 50px;
    padding-bottom: 63px;
    margin-top: 53px;
    border: 1px solid #48474b;
}
.services{
    display: flex;
    justify-content: space-between;
}
.services_social{
    display: inline-block;
}
.footer_social{
    display: flex;
    justify-content: space-between;
}
a.footer_icons {
    background: #fa090a;
    width: 42px;
    height: 42px;
    text-align: center;
    margin-top: 44px;
}
a.footer_icons i{
    font-size: 1.5625rem;
    color: #160506;
    padding-top: 10px;
}
.services_vip nav{
    height: 100%;
}
.services_vip ul{
    height: 100%;
}
.services_vip li:nth-of-type(1){
    margin-bottom: 28px;
}
.services_vip li:nth-of-type(2){
    margin-bottom: 28px;
}
.services_vip li:nth-of-type(3){
    margin-bottom: 28px;
}
.services_vip li a{
    color: #fff;
    font-size: 0,875rem;
    font-family: 'Metropolis';
}
